@import url('fonts/font.css');
.body_wrap { background: url(images/batabagbg.jpg); 
	background-position: center 95px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin:0;
    padding: 0 0 0 0 ;}

.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.header { width:1000px; margin:0 auto;}
.header_right{ width:auto; float:right; }
.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.data_container {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
    background: url("images/data_logo.png") no-repeat scroll left top transparent;
    height: 87px;
    margin: 0px 0 19px;
	float:left;
    width: 280px;
}

.availoth-n-text {
    margin: auto;
    padding-top: 15px;
    width: 940px;
}
.footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #D3D3D3;
    bottom: 0;
    height: 31px;
    left: 0;
    padding-top: 22px;
    position: fixed;
    width: 100%;
}

.availoth-n-text {
    margin: auto;
    padding-top: 15px;
    width: 940px;
}
.footer p {
    color: #666666;
    float: left;
    font-family: PT Sans;
    font-size: 12px;
    padding-left: 24px;
}
.footer p{
	font-size:12px; color:#666666; font-family:PT Sans; float:left; padding-left:24px;}
span{	
	color:#1fa7c0;}
 ul#footer{ margin:0 0; padding-left:30px; overflow:hidden; line-height:normal; }
 ul#footer li{ float:left;  list-style:none;   }
 ul#footer li a {font-size:12px; padding-left:11px; padding-right:11px; text-decoration:none; font-family: PT Sans; color:#666666; border-right: 1px solid #666666;  }
 ul#footer li a:hover{ color:#1fa7c0; text-decoration:underline;}

ul#footer li a.right_b{ border-right:none;}

.call_us{
	position:fixed;
	right:0;
	bottom:0;
}
.share_content{ width:500px; margin:0 auto; background-color:#FFF;}
.wrapper { width:650px; margin:100px auto; border-radius:5px; /*background:url(../images/pattern.jpg);*/ background-color:#FFF; padding:15px;  box-shadow:0 0 3px #787878; }
.share-icon{ width:110px; float:left; }
.share-right-content{ width:540px; float:left;}
.share-right-content h1 { font-size:18px; color:#15a0c8; padding:0 0 10px 0;   font-family: 'geoslab703_md_btbold';}
.but-download{ float:right;} 


/*---------------------18 April 2013 css start here Forgot Passwdord page  css start here------------------------------------*/
.mid-whitebg { width:500px; margin:125px auto; height:300px; border-radius:5px; /*background:url(../images/pattern.jpg);*/ background-color:#FFF; padding:15px;  box-shadow:0 0 3px #787878; text-align:center; }
.mid-whitebg h1 { font-size:33px; font-family: 'geoslab703_md_btbold'; color:#15A0C8; margin:0; padding:0; text-align:center;}
.mid-whitebg h1 span { color:#819C06;}
.info {
     background-color: #84C22C;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #7AB722;
	font-family: 'PT Sans', sans-serif;
    color: #FFF;
    margin: 30px 0;
    padding: 4px 10px 6px 14px;
    width: 95%;
}
.mid-whitebg input[type="text"], input[type="password"] {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 5px #CCCCCC;
    font-family: Verdana;
    font-size: 15px;
    font-weight: 200;
    height: 30px;
    padding: 8px;
    width: 400px;
	margin-bottom:20px;
}
.but-submit{ width:93px; height:31px; background:url(../images/submit-icon.png) no-repeat; border:none; background-position:left top;}
.but-submit:hover { background-position:0 -31px; }
.but-send{ width:93px; height:31px; background:url(../images/send-btn.png) no-repeat; border:none; background-position:left top;}
.but-send:hover { background-position:0 -31px; }

/*----------------------------20 April Css start here---------------------------------------------------*/
.slider_container{ width:651px; margin:0 auto; background-color:#FFF; padding:15px; height:300px;  border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #787878;}
.height{ height:150px;}