<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Databagg</title>


<link href="App_Theme/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="header">
	<div class="header-logo">
    	<div class="logo"><img src="images/logo.png"  alt="" /></div>    
    </div>
    
    </div>


<div class="#wrapper">
	<div class="content">
    		<div class="content-firstrow">
            	<div class="content-firstrow-L">
                	<div class="content-firstrow-Limg"><img src="images/mydata_img.png" width="95" height="123" alt="" /></div>
                    	<div class="content-firstrow-LText">
                        <h2>My Data Bagg</h2>
                        <p>Store everything under one 
platform. Upload, synchronize and share: With just one click...</p>                        
                        </div> 
              </div>
              
              
                <div class="content-firstrow-M">
                
                <div class="content-firstrow-L">
                	<div class="content-firstrow-Limg"><img src="images/sync_img.png" width="95" height="124" alt="" /></div>
                    	<div class="content-firstrow-LText">
                        <h2>Sync Folders</h2>
                        <p>Databagg brings convenience to 
your fingertip; Sync the whole 
folder in one go....</p>                        
                        </div> 
              </div>
                
                </div>
                
                
                <div class="content-firstrow-M">
                
                <div class="content-firstrow-L">
                	<div class="content-firstrow-Limg"><img src="images/shared_img.png" width="95" height="123" alt="" /></div>
                    	<div class="content-firstrow-LText">
                        <h2>Shared</h2>
                        <p>Hassle free categorization of data, based on your own requirements...</p>                        
                        </div> 
              </div>
                
                </div>                
                 <div style="clear:both;"></div>          
            </div>
            
            
            
            
           <div class="content-secondrow">
            	<div class="content-firstrow-L">
                	<div class="content-firstrow-Limg"><img src="images/mymusic_img.png"  alt="" /></div>
                    	<div class="content-firstrow-LText">
                        <h2>My Music</h2>
                        <p>Enjoy music to the fullest! Store <br />
                          your music in our bag, share &amp; <br />
                          collaborate right here...</p>
                    	</div></div>
              
              
                <div class="content-firstrow-M">
                
                <div class="content-firstrow-L">
                	<div class="content-firstrow-Limg"><img src="images/myvideo_img.png" width="95" height="125" alt="" /></div>
                    	<div class="content-firstrow-LText">
                        <h2>My Video</h2>
                        <p>Videos are personal; Secure and <br />
                          store all your videos in just one <br />
                          location...</p>                        
                        </div> 
              </div>
                
                </div>
                
                
                <div class="content-firstrow-M">
                
                <div class="content-firstrow-L">
                	<div class="content-firstrow-Limg"><img src="images/album_img.png" width="95" height="125" alt="" /></div>
                    	<div class="content-firstrow-LText">
                        <h2>My Album</h2>
                        <p>Collect and collaborate all your pictures at one single location. <br />
                          Databagg makes it super easy...</p>
                    	</div></div>
                
                </div>  
                 <div style="clear:both;"></div>          
            </div> 
            
            
            
            
            
            <div class="content-secondrow">
            	<div class="content-firstrow-L">
                	<div class="content-firstrow-Limg"><img src="images/contacts.png"  alt="" /></div>
                    	<div class="content-firstrow-LText">
                        <h2>Contacts</h2>
                        <p>Find all your friends and family over here. Simply scroll the list to locate 
                          the one whom you are searching..</p>                        
                  </div> 
              </div>
              
              
                <div class="content-firstrow-M">
                
                <div class="content-firstrow-L">
                	<div class="content-firstrow-Limg"><img src="images/help.png" width="95" height="125" alt="" /></div>
                    	<div class="content-firstrow-LText">
                        <h2>Help?</h2>
                        <p>Need help? Want assistance? Click here!...</p>                        
                  </div> 
              </div>
                
                </div>
                
                
                <div class="content-firstrow-M">
                
                <div class="content-firstrow-L">
                	<div class="content-firstrow-Limg"><img src="images/downloads_img.jpg" width="96" height="123" alt="" /></div>
                    	<div class="content-firstrow-LText">
                        <h2>My Downloads</h2>
                        <p>Collect all your files, spread over everywhere, into one centralized location.</p>                        
                  </div> 
              </div>
                
                </div>  
                 <div style="clear:both;"></div>          
            </div>
                        
              
    
    <div style="clear:both;"></div>
    
    </div>



<div style="clear:both;"></div>
</div>


<div class="footer">
	<div class="footer-in-left">
    
    <div class="text">
    ©2012 Databagg  <a href="terms.html">Terms</a>   |   <a href="privacy-policy.html">Privacy Policy </a>  | 
    <a href="partner-with-us.html">Partner with us </a> |  <a href="contact-fujibox.html">Contact Fujibox</a>   |
    <a href="help.html">Help</a></div>
    
    </div>
    <div class="footer-in-right"><img src="images/callus.png" width="297" height="89" alt="" style="float:right;" /></div>




</div>




</body>
</html>
