<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Databagg</title>

<link href="App_Theme/mainstyle.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="mainpageheader">
<div class="databag-menu">
    	<div class="databag-menu-left">
   <div class="underlinemenu-left">     
    <div class="underlinemenu">
<ul>
<li><a href="features.html" style="background:none;">Features</a></li>
<li><a href="free-trial.html">Free Trial</a></li>
</ul>
</div>
<div style="clear:both;"></div>
</div>
</div>
        <div class="databag-menu-middle">
        <div class="home"><a href="index.html"><img src="images/home.png" width="35" height="36" border="0" alt="" /></a></div>
        
</div>
        <div class="databag-menu-right">
        	<div class="underlinemenu-right-top">            
 <div class="login"><a href="login.html"><img src="images/login.png" alt="" width="81" height="36" border="0" /></a></div>
           <div class="loginsign"><a href="signuup.html"><img src="images/signup.png" alt=""  width="91" height="36" border="0" /></a></div> 
            </div>
        
        <div class="underlinemenu-right">     
    <div class="underlinemenu">
<ul>
<li><a href="pricing.html" style="background:none;">Pricing</a></li>
<li><a href="how-works.html">How it Works</a></li>
</ul>
</div>
<div style="clear:both;"></div>
</div>
</div>
  </div>
  
  

  <div class="other-content">
  <div class="other-content-top"></div>
    <div class="other-content-middle">
   <div class="availoth">
   
  <div class="availoth-text">How it Works</div>
   
   
   
   </div>
    
    
<div class="availoth-n-text">


<h2>Welcome to DataDagg!</h2>
<p>We are the next generation Online Storage service, which uses Cloud computing as the backbone of the whole process.</p> 
<p>You upload the data once and access it anywhere, anytime!</p>

<h2>Table of Content</h2>
<strong>Step 1: Download DataBagg</strong><br />
 <p>Download Free DataBagg application by clicking here. Save it in your PC/Laptop or Mobile. You get 5GB free for starting your cloud journey. </p>
<strong>Step 2: Upload Data</strong><br />
 <p>Using the downloaded application, upload your data to DataBagg. You can upload your pictures, images, songs, games, videos, files, documents and everything else.</p> 
<strong>Step 3: Access/Edit/Work</strong><br /><p>
 Once your data is uploaded on our Cloud at DataBagg, you can access it using any device: PC, Desktop, Mobile or Tablet. You can edit your data across different devices and it work on it. </p>
<strong>Step 4: Easy Share</strong><br /><p>
 DataBagg makes sharing of your data super easy. With just one click, you can share your data and information with your family, friends and relatives. </p>
<strong>Step 5: Surprise Yourself!</strong><br /><p>
 DataBagg has some of the most advanced options which will surprise you. For instance, once you enter your data via using your laptop, it would be automatically synchronized across your mobile, desktop and tablet. Additionally, your data would be backed-up every second. Your data is always safe and secured and globally accessible, only through Databagg!</p>

</div>
    
    

    
    
    
      <div style="clear:both"></div>
    </div>
    <div class="other-content-bottom"></div>
    
    
        
    
    
  <div style="clear:both"></div>
  
  </div>
  
  
	
    <div style="clear:both"></div>
</div>




<div class="callinimh"><img src="images/calling.jpg" width="1000" height="189" alt="" /></div>









<div class="footer">

<div class="footer-in-top"> 
<ul>
<li><strong>Product</strong></li>
<li><a href="pricing.html">Pricing</a></li>
<li><a href="features.html">Features</a></li>
<li><a href="how-it-works.html">How it works</a></li>     
<li><a href="Download.html">Download</a></li>

</ul>


<ul>
<li><strong>Company</strong></li>
<li><a href="about-us.html">About Us</a></li>               
<li><a href="blogs.html">Blogs</a></li>                       
<li><a href="news.html">News</a></li> 
<li><a href="press-release.html">Press Release</a></li>        

</ul>


<ul>
<li><strong>Learn More</strong></li>
<li><a href="support.html">Support</a></li>
<li><a href="faqs.html">FAQs</a></li>
<li><a href="tutorial.html">Tutorial</a></li>
<li><a href="privacy-policy.html">Privacy Policy</a></li>
</ul>




<div class="social-media">
<h2>Connect with us</h2>
	<div class="social-media-t">
    	
        <div class="social-media-t-l">
        	<div class="social-media-t-l-img"><img src="images/facebook.png" alt=""  /></div>
            	<div class="social-media-t-l-text"><a href="http://www.facebook.com/Databagg">Facebook</a></div>
        
        </div>
    
    
    
    <div class="social-media-t-r">
        	<div class="social-media-t-l-img"><img src="images/twitter.png" alt=""  /></div>
            	<div class="social-media-t-l-text"><a href="https://twitter.com/DataBagg">Twitter</a></div>
        
        </div>
    </div>
    
    
    
    
    
    <div class="social-media-b">
    	
        <div class="social-media-t-l">
        	<div class="social-media-t-l-img"><img src="images/gplus.png" alt=""  /></div>
            	<div class="social-media-t-l-text"><a href="https://plus.google.com/117226672667714086519/posts?hl=en-GB">Google+</a></div>
        
        </div>
    
    
    
    <div class="social-media-t-r">
        	<div class="social-media-t-l-img"><img src="images/in.png"  alt="" /></div>
            	<div class="social-media-t-l-text"><a href="http://in.linkedin.com/pub/databagg/62/9b4/570">Linkdin</a></div>
        
        </div>
    
    
    
    </div>
</div>

</div>
<div style="clear:both;"></div>
</div>


<div class="footer-in-bottom">    
 
   <div class="textfooter">Copyright &copy; 2012 <strong><a href="index.html">Data Bagg</a></strong>, Inc. All rights reserved.</div>
   
   	<div class="textfooterimg-right"> <a href="index.html"><img src="images/bottomlogo.png" alt="" border="0" /></a></div>
</div>
</body>
</html>
