<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Databagg</title>

<link href="App_Theme/mainstyle.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="mainpageheader">
<div class="databag-menu">
  <img src="images/loginlogo.png" alt="" width="950" height="231" border="0" usemap="#Map" />
  <map name="Map" id="Map">
    <area shape="circle" coords="441,47,16" href="index.html" />
    <area shape="rect" coords="307,64,577,145" href="index.html" />
  </map>
</div>
  
  

  <div class="other-content">
  
    <div class="creataccount">
    
    <div class="creataccount-left"><img src="images/creat-acc-left.png" width="113" height="633" alt="" /></div>
    <div class="creataccount-middle">
    <div class="creataccount-middle-t-text">
    
       <div class="creataccount-banner"><img src="images/crimg.png" width="525" height="105" alt="" /></div>
       
       <div class="other-content-login-area-mainrgsitere">     
     	<div class="other-content-login-area-leftregis">First Name</div>
        <div class="other-content-login-area-right"><input name="" type="text" value="Your First Name" onclick="javascript:this.value='';" onfocus="this.select()" class="rightinput" /></div>
     
     </div>
       
       
       <div class="other-content-login-area-mainrgsitere">     
     	<div class="other-content-login-area-leftregis">Last Name</div>
        <div class="other-content-login-area-right"><input name="" type="text" value="Your Last Name" onclick="javascript:this.value='';" onfocus="this.select()" class="rightinput" /></div>
     
     </div>
     
     <div class="other-content-login-area-mainrgsitere">     
     	<div class="other-content-login-area-leftregis">Email Address</div>
        <div class="other-content-login-area-right"><input name="" type="text" value="Your Email Address" onclick="javascript:this.value='';" onfocus="this.select()" class="rightinput" /></div>
     
     </div>
     
     <div class="other-content-login-area-mainrgsitere">     
     	<div class="other-content-login-area-leftregis">Password</div>
        <div class="other-content-login-area-right"><input name="" type="password" value="Your Password" onclick="javascript:this.value='';" onfocus="this.select()" class="rightinput" /></div>
     
     </div>
       
         <div class="submit-lchre"><span><input name="" type="checkbox"  value="" checked="checked" /></span> <span> I agree to the <strong>Data Bagg Policy</strong></span> </div>  
    
       
       
       <div class="submit-lctt"><img src="images/signin.png" width="151" height="56" alt="" /></div>
         <div class="submit-lchrebottom">Already have an account? <strong><a href="login.html">Sign in</a></strong></div>
       
       
       </div>
    
    
    
    
    </div>
    <div class="creataccount-right"><img src="images/creat-acc-right.png" width="116" height="633" alt="" /></div>
    
    
    </div>
    
    
    
        
    
    
  <div style="clear:both"></div>
  
  </div>
  
  
	
    <div style="clear:both"></div>
</div>














<div class="footer">

<div class="footer-in-top"> 
<ul>
<li><strong>Product</strong></li>
<li><a href="pricing.html">Pricing</a></li>
<li><a href="features.html">Features</a></li>
<li><a href="how-it-works.html">How it works</a></li>     
<li><a href="Download.html">Download</a></li>

</ul>


<ul>
<li><strong>Company</strong></li>
<li><a href="about-us.html">About Us</a></li>               
<li><a href="blogs.html">Blogs</a></li>                       
<li><a href="news.html">News</a></li> 
<li><a href="press-release.html">Press Release</a></li>        

</ul>


<ul>
<li><strong>Learn More</strong></li>
<li><a href="support.html">Support</a></li>
<li><a href="faqs.html">FAQs</a></li>
<li><a href="tutorial.html">Tutorial</a></li>
<li><a href="privacy-policy.html">Privacy Policy</a></li>
</ul>




<div class="social-media">
<h2>Connect with us</h2>
	<div class="social-media-t">
    	
        <div class="social-media-t-l">
        	<div class="social-media-t-l-img"><img src="images/facebook.png" alt=""  /></div>
            	<div class="social-media-t-l-text"><a href="http://www.facebook.com/Databagg">Facebook</a></div>
        
        </div>
    
    
    
    <div class="social-media-t-r">
        	<div class="social-media-t-l-img"><img src="images/twitter.png" alt=""  /></div>
            	<div class="social-media-t-l-text"><a href="https://twitter.com/DataBagg">Twitter</a></div>
        
        </div>
    </div>
    
    
    
    
    
    <div class="social-media-b">
    	
        <div class="social-media-t-l">
        	<div class="social-media-t-l-img"><img src="images/gplus.png" alt=""  /></div>
            	<div class="social-media-t-l-text"><a href="https://plus.google.com/117226672667714086519/posts?hl=en-GB">Google+</a></div>
        
        </div>
    
    
    
    <div class="social-media-t-r">
        	<div class="social-media-t-l-img"><img src="images/in.png"  alt="" /></div>
            	<div class="social-media-t-l-text"><a href="http://in.linkedin.com/pub/databagg/62/9b4/570">Linkdin</a></div>
        
        </div>
    
    
    
    </div>
</div>

</div>
<div style="clear:both;"></div>
</div>


<div class="footer-in-bottom">    
 
   <div class="textfooter">Copyright &copy; 2012 <strong><a href="index.html">Data Bagg</a></strong>, Inc. All rights reserved.</div>
   
   	<div class="textfooterimg-right"> <a href="index.html"><img src="images/bottomlogo.png" alt="" border="0" /></a></div>
</div>
</body>
</html>
