@charset "utf-8";
/* CSS Document */

body{margin:0px; padding:0px; background-image:url(../images/batabagbg.jpg); background-repeat:no-repeat; background-position:center 0px;}
.home{width:35px; height:36px; margin-top:30px; margin-left:130px;}
.mainpageheader{width:1000px;  margin:auto;}
.databag-menu{width:1000px; height:208px; margin-top:7px;}

.other-content{width:1000px;}

.other-content-login{width:950px;}
.other-content-login-t{width:950px; height:144px; background:url(../images/welcomedatabag.png); background-repeat:no-repeat;}
.other-content-login-b{width:950px; height:383px; background:url(../images/Data-bagg-layout-login-bottom.png); background-repeat:no-repeat;}

.other-content-login-area{width:500px; height:295px; margin-left:197px; padding-top:22px;}

.other-content-login-area-left{width:106px; padding-right:5px; height:66px; float:left; font-size:17px; margin:auto; font-family:"PT Sans"; color:#666;}

.other-content-login-area-leftregis{width:135px; padding-right:5px; height:50px; padding-top:10px; float:left; font-size:17px; margin:auto; font-family:"PT Sans"; color:#666;}
.other-content-login-area-right{width:340px; height:60px; float:left;}
.rightinput{width:339px; font-family:"PT Sans"; color:#666; padding-left:10px; font-size:17px; height:45px; border:0px; background: url(../images/logininput.jpg); background-repeat:no-repeat;}
.other-content-login-area-main{width:455px; height:20px;}
.other-content-login-area-mainnn{width:455px; height:60px;}
.other-content-login-area-mainrgsitere{width:510px; height:66px; margin:auto;}

.other-content-login-account{width:340px; height:30px; margin-left:116px; margin-top:18px; font-family:"PT Sans";}
.other-content-login-accountnmk{width:280px; height:30px; color:#333; margin-top:30px; margin-left:115px; font-family:"PT Sans";}
.other-content-login-accountnmk a{color:#ea4d0f; font-weight:bold; text-decoration:none;}
.other-content-login-account strong{color:#ea4d0f;}


.other-content-login-area-mainbb{width:455px; height:30px;}

.creataccount{width:768px; height:635px; margin:auto;}

.creataccount-left{width:113px; height:633px; float:left;}
.creataccount-middle{width:539px; height:633px; float:left; background:url(../images/creat-acc-middle.png); background-repeat:repeat-x;}

.creataccount-middle-t-text{width:535px; height:590px; margin-top:30px;}
.creataccount-banner{width:525px; height:150px;  margin:auto;}

.creataccount-right{width:116px; height:633px; float:left;}

.forget{width:250px; font-family:"PT Sans"; font-size:17px; color:#069cd1; margin-left:120px; margin-top:15px;}
.forget a{color:#069cd1; font-weight:bold;}


.submit-lnform{width:380px; font-family:"PT Sans"; margin-left:115px; margin-top:0px;}

.submit-l{width:149px; font-family:"PT Sans";   margin-top:0px; float:left;}
.submit-lnewtext{width:220px; font-family:"PT Sans"; font-size:17px; color:#666; margin-left:10px; margin-top:15px; float:left;}


.submit-lch{width:158px; margin-top:18px; padding-left:22px; font-family:"PT Sans"; float:left;}
.submit-lctt{width:151px; margin-top:25px; margin-left:155px; font-family:"PT Sans"; }
.submit-lchre{width:280px; margin-top:10px; height:40px; margin-left:155px; color:#666; font-family:"PT Sans"; float:left;}
.submit-lchre strong{color:#069cd1;}
.submit-lchrebottom{width:280px; margin-left:155px; font-family:"PT Sans"; font-size:18px; margin-top:20px;}
.submit-lchrebottom strong{color:#ea4d0f;}
.submit-lchrebottom a{color:#ea4d0f;}


.other-content-top{width:1000px; height:53px; background:url(../images/cloudstop-oth.png); background-repeat:no-repeat;}
.other-content-middle{width:1000px; background:url(../images/middlebgconte.png); background-repeat:no-repeat;}
.avail{width:941px; height:90px; margin:auto;}
.availoth{width:986px; height:96px; margin:auto; background:url(../images/pline.jpg); background-repeat:repeat-x;}
.availoth-text{width:335px; padding-top:8px; height:40px; text-align:center; margin:auto; font-size:40px; font-weight:bold; font-family:"GeoSlab703 Md BT"; color:#018fbe;}
.availoth-n-text{width:940px;  margin:auto; padding-top:15px;}

.availoth-n-textul{width:900px; margin:auto; padding-top:15px;}
.availoth-n-textul ul{padding:0px; margin:0px;}
.availoth-n-textul ul li{padding:0px; margin:10px 0px 0px 0px; font-size:13px; margin:auto; font-family:"PT Sans"; color:#666;}





.availoth-n-text h2{font-family:"GeoSlab703 Md BT"; color:#83ab1f; font-weight:normal; font-size:27px; padding:0px; margin:10px 0px 0px 0px;}
.availoth-n-text p{font-size:13px; margin:auto; font-family:"PT Sans"; color:#666; margin-top:8px; line-height:140%;}
.availoth-n-text strong{font-size:13px; margin:auto; font-family:"PT Sans"; color:#333; margin-top:10px; line-height:140%;}
.avail-text{width:740px;  margin:auto;}
.avail-text p{text-align:center; font-size:13px; margin:auto; font-family:"PT Sans"; color:#666;}
.freetrial{width:940px; height:311px; margin:auto; padding-top:30px;}

.freetrial-left{width:430px; height:341px; float:left; background:url(../images/freetrial.jpg);}
.freetrial-right{width:510px; height:341px;float:left; background:url(../images/rightinput.jpg);}
.freetrial-right-top{width:405px; height:54px; margin-top:99px; margin-left:50px;}
.freetrial-right-top-l{width:146px; height:44px; padding-top:10px; padding-left:10px; float:left; font-size:13px; font-family:"PT Sans"; color:#666;}
.freetrial-right-top-m{width:113px; height:54px; float:left; font-size:13px; font-family:"PT Sans"; color:#666;}
.freetrial-right-top-m select{width:103px; padding:0px; margin:0px; height:32px; font-size:13px; font-family:"PT Sans"; color:#666;}
.freetrial-right-top-r{width:114px; height:54px; float:left; font-size:13px; font-family:"PT Sans"; color:#666;}
.freetrial-right-top-r select{width:103px; padding:0px; margin:0px; height:32px; font-size:13px; font-family:"PT Sans"; color:#666;}

.freetrial-right-offer{width:213px; height:75px; margin:auto; padding-top:8px;}
.buynow-butt{width:139px; height:52px; margin:auto; padding-top:8px;}
.bgpricing{width:850px; height:49px; margin:auto; background:url(../images/bgpricing.jpg);}
.bgpricing p{color:#5a7d8e; font-size:13px; font-family:"PT Sans"; text-align:center; padding-top:22px;}
.other-content-tabl{width:1000px; margin:auto; overflow:hidden;}
.other-content-tabltable{ margin:auto; border:1px solid #aad5e3; border-left:none; border-top:none;}
.other-content-tabltable th{ font-size:18px; font-family:"PT Sans"; }
.other-content-tabltable td{ color:#018fbe; font-size:15px; font-family:"PT Sans"; border-top:1px solid #aad5e3; height:28px; border-left:1px solid #aad5e3; padding-bottom:5px;}

.tdborder{border:none;}

.basic{width:941px; height:90px; margin:auto;}
.other-content-bottom{width:1000px; height:53px;}

.databag-banner{width:1000px; height:461px; margin:auto;}
.databag-bdownload{width:1000px; height:120px; padding-top:10px;}
.databag-bdownloadimg{width:311px; height:91px;  margin:auto; background:url(../images/download.png);}
.databag-bdownloadimg-oth{width:311px; height:95px; margin-top:220px; margin-left:40px;}

.databag-bdownloadimg:hover{width:311px;  height:91px; margin:auto; background:url(../images/download-hover.png);}


.databag-menu-left{width:347px; height:208px; float:left; background:url(../images/databagleft.png); background-repeat:no-repeat;}
.databag-menu-left-login{width:347px; height:208px; float:left;}
.databag-menu-middle{width:303px; height:208px; float:left; background:url(../images/logodatabg.png); background-repeat:no-repeat;}
.databag-menu-right{width:350px; height:208px; float:left; background-image:url(../images/databagright.png);background-repeat:no-repeat;}

.databag-menu-right-login{width:350px; height:208px; float:left;}



.contentdata{width:100%; height:650px; font-family:Arial, Helvetica, sans-serif; background:url(../images/cont-img.jpg); background-repeat:repeat-x;}


.contentdata-text{width:914px; margin:auto; font-family:Arial, Helvetica, sans-serif; padding:39px 0px 20px 0px;}
.contentdata-cloud-one{width:912px; margin:auto; height:450px;}
.contentdata-cloud-one-t{width:912px; background:url(../images/cloudstop.jpg); height:59px;}

.contentdata-cloud-one-b{width:912px; background:url(../images/cloudsbottom.jpg); height:22px;}

.contentdata-cloud-one-m{width:912px; background:url(../images/cloudsmiddle.jpg); background-repeat:repeat-y;}

.contentdata-cloud-one-m-c{width:785px; height:352px; margin:auto;}
        
		
		 .bag-one-l{width:251px; height:340px; float:left;}    
		  .bag-one-l h2{width:175px; font-size:30px; font-family:"GeoSlab703 MdCn BT"; color:#03759f; padding:0px;  margin:4px 0px 0px 10px;}
		  .bag-one-l p{width:189px; text-align:center; margin:4px 0px 0px 0px; font-size:13px; font-family:"PT Sans"; color:#666;}
		  
		  .bag-one-m{width:280px; height:340px; float:left;}    
		 .bag-one-m h2{width:160px; font-size:30px; font-family:"GeoSlab703 MdCn BT"; color:#03759f; padding:0px; margin:4px 0px 0px 40px;}
		  .bag-one-m p{width:189px; text-align:center;  font-size:13px; margin:4px 0px 0px 25px; font-family:"PT Sans"; color:#666;}
		  
		  .bag-one-r{width:240px; height:340px; float:left;}    
		  .bag-one-r h2{width:238px; text-align:center; font-size:30px; font-family:"GeoSlab703 MdCn BT"; color:#03759f; padding:0px;  margin:auto;}
		  .bag-one-r p{width:200px; text-align:center; font-size:13px; margin:auto; font-family:"PT Sans"; color:#666;}
          

.headerdata{width:953px; margin:auto; height:92px;}


.text{width:888px; font-family:"PT Sans"; font-size:15px; color:#fff;  margin:auto;}

.text p{line-height:20px;
text-align: center;    
/*text-shadow: 1px 1px 0px #024159;
filter: dropshadow(color=#024159, offx=1, offy=5;*/}

.underlinemenu-left{width:320px; margin-top:83px; margin-left:20px;}
.underlinemenu-right{width:320px; margin-left:4px;}
.underlinemenu-right-top{width:320px; margin-left:4px; height:83px;}
.login{width:81px; height:36px; float:left; margin-left:143px; margin-top:19px;}
.loginsign{width:91px; height:36px; float:left; margin-left:5px; margin-top:19px;}


.underlinemenu{
width:315px;
}

.underlinemenu ul{
margin:0px;

padding:0px;
float: left;
font-weight: bold;


}
/*
* html .underlinemenu ul{ IE only rule. Delete extra margin-bottom
margin-bottom: 0;
}*/

.underlinemenu ul li{
display: inline;
float: left;

}


.underlinemenu ul li a{
margin:2px 0px 0px 2px;
float: left;
color: #fff;
padding: 2px 15px 0px 20px;
text-decoration: none;
background:url(../images/borderright.png); background-repeat:no-repeat;

font-family:"GeoSlab703 Md BT";
font-size:20px;
text-transform:uppercase;
height:30px;


}
.callinimh{width:1000px; margin:auto; height:189px;}

.underlinemenu ul li a:hover{
color: #fff; border-bottom: 6px solid #03759f;

}

.footer{width:100%; margin-top:10px; height:165px;}
.footer-in-top{width:914px; height:140px; margin:auto;}

.footer-in-top ul{width:115px; float:left;}
.footer-in-top ul li{padding:0px; margin:4px 0px 0px 0px; list-style:none; font-family:"PT Sans", "PT Sans Narrow"; font-size:13px; color:#03759f;}
.footer-in-top ul li strong{padding:0px; margin:0px; font-weight:bold; font-family:"PT Sans";  font-size:18px; color:#000;}
.footer-in-top ul li a{color:#03759f; text-decoration:none; font-size:13px;}
.social-media{width:220px; height:92px; float:left; margin-left:205px;}
.social-media h2{font-family:"PT Sans"; font-size:18px; color:#000;}
.social-media-t{width:240px; height:41px;}


.social-media-t-l{width:104px; height:39px; float:left;}
.social-media-t-l-img{width:39px; height:39px; float:left;}
.social-media-t-l-text{width:65px; padding-top:5px; height:34px; float:left; font-family:"PT Sans", "PT Sans Narrow"; font-size:13px; color:#03759f;}

.social-media-t-l-text a{color:#03759f; text-decoration:none;}




.social-media-t-r{width:104px; height:39px; float:left; margin-left:20px;}
.social-media-b{width:240px; height:41px;}

.footer-in-bottom{width:914px; border-top:1px dotted #666; height:40px; margin:auto; font-family:"PT Sans", "PT Sans Narrow"; font-size:13px; color:#666666;}

.textfooter{width:500px; float:left; margin-top:16px;}
.textfooter a{color:#819c06; text-decoration:none;}
.textfooter strong{color:#819c06;}
.textfooterimg-right{width:165px; float:right; padding-top:8px;}


/* login page form start */

label{
 float: left;
 width: 120px;

 font-family:"PT Sans", "PT Sans Narrow"; font-size:17px; color:#666;}

 
.input{
 width: 180px;
 margin-bottom: 5px;
 }
 

.boxes{
 width: 1em;
 }
 
#submitbutton{
 margin-left: 120px;
 margin-top: 5px;
 width: 90px;
 }
 

 /* login page form closed */