@charset "utf-8";
/* CSS Document */

body{margin:0px; padding:0px; background:url(../images/bg.jpg); background-repeat:repeat;}
.header{width:100%; background:#FFF; height:100px; margin:auto; padding-top:14px; padding-bottom:2px; border-bottom:1px solid #d3d3d3;}
.header-logo{width:1000px; height:91px; margin:auto;}
.logo{width:270px; height:91px; margin:auto;}
#wrapper{width:1000px; margin:auto;}
.content{width:1000px; margin:auto;}
.content-firstrow{width:1002px; margin:auto; margin-top:105px;}
.content-firstrow-L{width:326px; height:127px; float:left; background:#FFF; border-right:1px solid #d3d3d3; border-bottom:2px solid #d3d3d3;}
.content-firstrow-L:hover{background:#08a2be;}
.content-firstrow-Limg{width:95px; height:123px; float:left; margin-left:12px; background:none;}
.content-firstrow-LText{width:190px; margin-left:12px; height:127px; float:left; background:none; font-family:"PT Sans", "PT Sans Narrow"; font-size:13px; color:#999999; padding:0px; margin:7px 0px 0px 0px; line-height:130%;}



.content-firstrow-L h2{font-family:"PT Sans", "PT Sans Narrow"; font-size:24px; font-weight:normal; text-transform:uppercase; padding:0px; margin:7px 0px 0px 0px; font-size:24px; color:#666666;}
.content-firstrow-M{width:326px; height:127px; float:left; margin-left:10px;}
.content-secondrow{width:1002px; margin:auto; padding-top:10px;}
.footer{width:100%; margin-top:54px; height:89px; background:url(../images/footerbg.png); background-repeat:repeat-x;}
.footer-in-left{width:70%; height:89px; float:left;}
.footer-in-right{width:30%; height:89px; float:right;}
.text{font-family:"PT Sans", "PT Sans Narrow"; font-size:13px; color:#666666; margin-top:54px; padding-left:20px;}
.text a{color:#666666; text-decoration:none;}



/*Right to Left Toggle start */

div.box_button {
	height: 50px;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	float: left;
	cursor:help;
	
}
div.box_button a {
	outline:none;
	
}


div.box_main {
	height: auto;
	width:220px;
	float: left;
	
	background: url(../images/leftbg.png); background-repeat:no-repeat;

	background-position:right;

	
}
div.box_wrap {
	width: auto;
	float: left;
	clear: both;
	height: auto;
	position: absolute;
	left: -1px;
	top: 0px;
	
}
div.content {
	padding: 5px;
	font-size: 14px;
	font-family:"PT Sans", "PT Sans Narrow";
}
/*End slide out box*/


/*Start drop down menu*/
ul#menu, ul#menu ul {
	list-style-type:none;
	margin: 0;
	padding:0;

	width: 220px;
}

ul#menu a {
	display: block;
	text-decoration: none;
}
#menu li a img {
	margin-right: 5px;
}

ul#menu li {
	width: 220px;
	background: #fff;
}

ul#menu li a {
	color: #333;
	
	background: #fff;
	font-family:"PT Sans", "PT Sans Narrow";
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #333;
	font-size: 20px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}


.righttoggletop{width:220px; height:118px; background:url(../images/toggale-bg.png); background-repeat:no-repeat;}
.righttoggletop-profile{width:220px; height:30px; background:#099;}

.righttoggletop-profile-p{width:97px; margin-left:30px; height:30px; float:left; background:url(../images/profile.png); background-repeat:no-repeat; }

.pro{font-family:"PT Sans", "PT Sans Narrow"; width:18px; height:16px;  float:left; margin-top:10px; margin-left:2px;}

.textprofile{font-family:"PT Sans", "PT Sans Narrow"; font-size:14px; color:#fff; margin-left:10px; margin-top:8px; width:62px; height:16px; float:left;}
/*Right to Left Toggle start */


/*Right to Left Toggle start */
